<div
	data-resources="[{ paths: [ 
	'../resources/components/superheroes/scss/superheroes.css']}
]">

	<div class="superhero">
		<div class="superhero-details">
			<h1>{{bioDef superhero "default title"}}</h1>
			<p>Publisher: {{bioDef publisher "default content"}}</p>
			<p>Alter Ego: {{bioDef alter_ego "default content"}}</p>
			<p>First Appearence: {{bioDef first_appearance "default content"}}</p>
			<p>Characters: {{bioDef characters "default content"}}</p>
		</div>
		<div class="superhero-photo">
			<img src="{{bioDef img}}" alt="">
		</div>
	</div>

</div>
